// Padding and margin from 0px to 120px
$directions: (
  a: 'all',
  b: 'bottom',
  l: 'left',
  r: 'right',
  t: 'top',
  h: 'horizontal',
  v: 'vertical',
);
@for $i from 0 through 30 {
  @each $key, $value in $directions {
    .p#{$key}-#{$i} {
      @if $key == a {
        padding: calc(#{$i} * 4px);
      } @else if $key == v {
        padding-top: calc(#{$i} * 4px);
        padding-bottom: calc(#{$i} * 4px);
      } @else if $key == h {
        padding-left: calc(#{$i} * 4px);
        padding-right: calc(#{$i} * 4px);
      } @else {
        padding-#{$value}: calc(#{$i} * 4px);
      }
    }
    .m#{$key}-#{$i} {
      @if $key == a {
        margin: calc(#{$i} * 4px);
      } @else if $key == v {
        margin-top: calc(#{$i} * 4px);
        margin-bottom: calc(#{$i} * 4px);
      } @else if $key == h {
        margin-left: calc(#{$i} * 4px);
        margin-right: calc(#{$i} * 4px);
      } @else {
        margin-#{$value}: calc(#{$i} * 4px);
      }
    }

    .m#{$key}-n#{$i} {
      @if $key == a {
        margin: calc(#{$i} * -4px);
      } @else if $key == v {
        margin-top: calc(#{$i} * -4px);
        margin-bottom: calc(#{$i} * -4px);
      } @else if $key == h {
        margin-left: calc(#{$i} * -4px);
        margin-right: calc(#{$i} * -4px);
      } @else {
        margin-#{$value}: calc(#{$i} * -4px);
      }
    }
  }
};